<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= user.name %>'s To-Do List</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1><%= user.name %>'s To-Do List</h1>
    <% if (todos.length > 0) { %>
        <ul id="todoList">
            <% todos.forEach(todo => { %>
                <li>
                    <h3>Trail Name: <%= todo.trail_id.name %></h3>
                    <p>Date Planned: <%= new Date(todo.planned_date).toLocaleDateString() %></p>
                    <% if (todo.trail_id.description) { %>
                        <p>Description: <%= todo.trail_id.description %></p>
                    <% } %>
                    <% if (todo.trail_id.length_mi_) { %>
                        <p>Length: <%= todo.trail_id.length_mi_ %> miles</p>
                    <% } %>
                    <% if (todo.trail_id.surface) { %>
                        <p>Surface: <%= todo.trail_id.surface %></p>
                    <% } %>
                    <% if (todo.trail_id.oneway) { %>
                        <p>Oneway: <%= todo.trail_id.oneway %></p>
                    <% } %>
                    <% if (todo.trail_id.elevation_gain) { %>
                        <p>Elevation Gain: <%= todo.trail_id.elevation_gain %> ft</p>
                    <% } %>
                    <% if (todo.trail_id.difficulty) { %>
                        <p>Difficulty: <%= todo.trail_id.difficulty %></p>
                    <% } %>
                    <% if (todo.notes) { %>
                        <p>Notes: <%= todo.notes %></p>
                    <% } %>
                    <% if (todo.checklist.length) { %>
                        <p>Checklist: <%= todo.checklist.join(', ') %></p>
                    <% } %>
                    <button class="smallButton" onclick="document.getElementById('editForm<%= todo._id %>').style.display='block'">Edit</button>
                    <form id="editForm<%= todo._id %>" class="todoForm" style="display:none" onsubmit="return updateTodo('<%= todo._id %>')">
                        <label for="plannedDate<%= todo._id %>" class="todoLabel">Date Planned:</label>
                        <input type="date" id="plannedDate<%= todo._id %>" class="todoInput" value="<%= new Date(todo.planned_date).toISOString().split('T')[0] %>">
                        <label for="notes<%= todo._id %>" class="todoLabel">Notes:</label>
                        <input type="text" id="notes<%= todo._id %>" class="todoInput" value="<%= todo.notes %>">
                        <label for="checklist<%= todo._id %>" class="todoLabel">Checklist (comma separated):</label>
                        <input type="text" id="checklist<%= todo._id %>" class="todoInput" value="<%= todo.checklist.join(', ') %>">
                        <button type="submit" class="smallButton">Save</button>
                    </form>
                    <button class="smallButton" onclick="deleteTodo('<%= todo._id %>')">Delete</button>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>Your to-do list is currently empty. Plan an adventure!</p>
    <% } %>
    <div class="buttonContainer">
        <button class="smallButton" onclick="location.href='/user/<%= user._id %>'">Go Back</button>
    </div>
    <script src="/js/indTodos.js"></script> <!-- Link to the JavaScript file -->
</body>
</html>
