<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= user.name %>'s Profile</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1><%= user.name %>'s Inventory</h1>
    <ul class="inventory">
        <% user.packingList.forEach(item => { %>
            <li><%= item %></li>
        <% }) %>
    </ul>

    <h2>Select a Trail</h2>
    <div class="trailGrid">
        <button class="trailButton" data-group="under1mi">Under a mile</button>
        <button class="trailButton" data-group="1plusmi">Mile, mile and a half</button>
        <button class="trailButton" data-group="far">Far</button>
        <button class="trailButton" data-group="veryfar">Very Far</button>
    </div>

    <div class="trailGroup" id="under1mi">
        <% trails.filter(trail => trail.length_mi_ < 1).forEach(trail => { %>
            <div class="trailItem" data-value="<%= trail._id %>">
                <%= trail.name %> (<%= trail.length_mi_ %> miles)
            </div>
        <% }) %>
    </div>
    <div class="trailGroup" id="1plusmi">
        <% trails.filter(trail => trail.length_mi_ >= 1 && trail.length_mi_ <= 3).forEach(trail => { %>
            <div class="trailItem" data-value="<%= trail._id %>">
                <%= trail.name %> (<%= trail.length_mi_ %> miles)
            </div>
        <% }) %>
    </div>
    <div class="trailGroup" id="far">
        <% trails.filter(trail => trail.length_mi_ > 3 && trail.length_mi_ <= 20).forEach(trail => { %>
            <div class="trailItem" data-value="<%= trail._id %>">
                <%= trail.name %> (<%= trail.length_mi_ %> miles)
            </div>
        <% }) %>
    </div>
    <div class="trailGroup" id="veryfar">
        <% trails.filter(trail => trail.length_mi_ > 20).forEach(trail => { %>
            <div class="trailItem" data-value="<%= trail._id %>">
                <%= trail.name %> (<%= trail.length_mi_ %> miles)
            </div>
        <% }) %>
    </div>

    <h2>Trail Details</h2>
    <div id="trailDetails" style="width: 80%;"></div>

    <h2>To-Do List</h2>
    <ul id="todoList">
        <!-- to-do items will be dynamically inserted here -->
    </ul>

    <button id="planTrailButton" class="smallButton">Add This Trail to My List</button>
    <button onclick="location.href='/user/<%= user._id %>/todos'" class="smallButton">Go to To-Do List</button>

    <script>
        const userId = "<%= user._id %>"; // dynamically embed user id
    </script>
    <script src="/js/getTrailDetails.js"></script>
</body>
</html>
